<form action="/new-car" method="POST">
    <input type="text" name="manufacturer" placeholder="manufacturer"><br>
    <input type="text" name="model" placeholder="model"><br>
    <input type="number" name="year" placeholder="year"><br>
    <input type="submit" class="btn">
</form>